@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
